<% include header %>

<h2>Todos List</h2>

<div>
    <ul>
        <% todos.map((x,y) => {%>
            <li>
                <h3>Title: <%= x.title %></h3>
                <h4>Description: <%= x.content %></h4>
                <h5>Published: <%= x.published %></h5>
            </li>
            <hr />
        <% }) %>
    </ul>
</div>

<% include footer %>